<div id="header" class="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{:U('Index/index')}">Brand</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <?php foreach (M("AdminNavigation")->where(['hide'=>0])->order("sort")->select() as $k => $v): ?>
                        <li><a href="{:U($v['name'].'/index')}">{$v['title']}</a></li>
                    <?php endforeach; ?>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                	<li><a href="{:U('Home/Index/index')}" target="_blank">首页</a></li>
                    <li><a href="#">Msg</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{$userInfo[0]['username']}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{:U('Public/logout')}">exit</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div id="header_h_padding"></div>
<script>
    jQuery(document).ready(function($) {
        $("#header_h_padding").height($("#header>.navbar").height());
    });
</script>