<extend name="Base:userCenterLayout" />

<block name="head">
</block>

<block name="body">
	<!--推送通知 可关闭模块-->
	<div class="row-fluid bg-fafafa user_tz" style="border-bottom:#f0f0f0 solid 1px">
		<div class="span1 text-right">
			<img src="__HOME__/images/user/use_tz.png">
		</div>
		<div class="span10" style="color:#666">
			推送通知
		</div>

		<!--关闭按钮-->
		<div class="span1 text-left">
			<button class="close" style="float:none">&times;</button>
		</div>
	</div>

	<!--主体-->
	<div class="user_main">

		<!--认证管理 标题-->
		<div class="row-fluid">
			<div class="span4">
				<div class="row-fluid">
					<div class="span11 offset1">
						<p style="font-size:18px; margin-bottom:20px">认证管理</p>
					</div>
				</div>
			</div>
		</div>

		<!--项目分类导航-->
		<div class="row-fluid myproject_nav">
			<ul>
				<li class="span2 text-center"><a href="#">个人认证</a></li>
				<li class="span2 text-center"><a href="#">项目认证</a></li>
			</ul>
		</div>

		<!--分隔线-->
		<!-- <div class="row-fluid">
			<div class="span12" style="border-bottom:#e1e4e9 solid 1px; margin-bottom:35px"></div>
		</div> -->

		<!--身份认证-->
		<div class="row-fluid" style="border-bottom:#e1e4e9 solid 1px; padding:30px 0">
			<!--图标加名称-->
			<div class="span3">
				<div class="row-fluid">
					<div class="span6 text-right">
						<img src="__HOME__/images/user/user_auther11.gif" alt="身份认证">
					</div>
					<div class="span5 offset1 text_666" style="height:60px; line-height:60px; font-size:16px">
					身份认证
					</div>
				</div>
			</div>

			<!--内容-->
			<div class="span5">
				<div class="row-fluid">
					<div class="span5 offset1 text_666" style="height:60px; line-height:60px; font-size:14px">
					杜志刚刚
					</div>
					<div class="span5 text_666" style="height:60px; line-height:60px; font-size:14px">
					410110********0123 
					</div>
				</div>
			</div>

			<!--图标加名称-->
			<div class="span4">
				<div class="row-fluid">
					<div class="span4 offset2 text_666" style="height:60px; line-height:60px; font-size:14px">
					不可修改
					</div>
				</div>
			</div>

		</div>

		<!--手机绑定-->
		<div class="row-fluid" style="border-bottom:#e1e4e9 solid 1px; padding:30px 0">
			<!--图标加名称-->
			<div class="span3">
				<div class="row-fluid">
					<div class="span6 text-right">
						<img src="__HOME__/images/user/user_auther21.gif" alt="手机绑定">
					</div>
					<div class="span5 offset1 text_666" style="height:60px; line-height:60px; font-size:16px">
					手机绑定
					</div>
				</div>
			</div>

			<!--内容-->
			<div class="span5">
				<div class="row-fluid">
					<div class="span5 offset1 text_666" style="height:60px; line-height:60px; font-size:14px">
					138****0123
					</div>
				</div>
			</div>

			<!--图标加名称-->
			<div class="span4">
				<div class="row-fluid">
					<div class="span4 offset2" style="height:60px; line-height:60px; font-size:14px; color:#99cc66">
					已绑定
					</div>
					<div class="span4">
						<a href="#" style="height:60px; line-height:60px; font-size:14px; color:#45b0e5">修改</a>
					</div>
				</div>
			</div>

		</div>

		<!--邮箱绑定-->
		<div class="row-fluid" style="border-bottom:#e1e4e9 solid 1px; padding:30px 0">
			<!--图标加名称-->
			<div class="span3">
				<div class="row-fluid">
					<div class="span6 text-right">
						<img src="__HOME__/images/user/user_auther31.gif" alt="邮箱绑定">
					</div>
					<div class="span5 offset1 text_666" style="height:60px; line-height:60px; font-size:16px">
					邮箱绑定
					</div>
				</div>
			</div>

			<!--内容-->
			<div class="span5">
				<div class="row-fluid">
					<div class="span5 offset1 text_666" style="height:60px; line-height:60px; font-size:14px">
					138****23@qq.com
					</div>
				</div>
			</div>

			<!--图标加名称-->
			<div class="span4">
				<div class="row-fluid">
					<div class="span4 offset2" style="height:60px; line-height:60px; font-size:14px; color:#99cc66">
					已绑定
					</div>
					<div class="span4">
						<a href="#" style="height:60px; line-height:60px; font-size:14px; color:#45b0e5">修改</a>
					</div>
				</div>
			</div>

		</div>

		<!--征信报告-->
		<div class="row-fluid" style="border-bottom:#e1e4e9 solid 1px; padding:30px 0">
			<!--图标加名称-->
			<div class="span3">
				<div class="row-fluid">
					<div class="span6 text-right">
						<img src="__HOME__/images/user/user_auther42.gif" alt="征信报告">
					</div>
					<div class="span5 offset1 text_666" style="height:60px; line-height:60px; font-size:16px">
					征信报告
					</div>
				</div>
			</div>

			<!--内容-->
			<div class="span5">
				<div class="row-fluid">
					<div class="span5 offset1 text_666" style="height:60px; line-height:60px; font-size:14px">
					
					</div>
				</div>
			</div>

			<!--图标加名称-->
			<div class="span4">
				<div class="row-fluid">
					<div class="span4 offset2" style="height:60px; line-height:60px; font-size:14px; color:#f05666">
					未认证
					</div>
					<div class="span4">
						<a href="#" style="height:60px; line-height:60px; font-size:14px; color:#45b0e5">认证</a>
					</div>
				</div>
			</div>

		</div>

		<!--微博认证-->
		<div class="row-fluid" style="border-bottom:#e1e4e9 solid 1px; padding:30px 0">
			<!--图标加名称-->
			<div class="span3">
				<div class="row-fluid">
					<div class="span6 text-right">
						<img src="__HOME__/images/user/user_auther52.gif" alt="微博认证">
					</div>
					<div class="span5 offset1 text_666" style="height:60px; line-height:60px; font-size:16px">
					微博认证
					</div>
				</div>
			</div>

			<!--内容-->
			<div class="span5">
				<div class="row-fluid">
					<div class="span5 offset1 text_666" style="height:60px; line-height:60px; font-size:14px">
					
					</div>
				</div>
			</div>

			<!--图标加名称-->
			<div class="span4">
				<div class="row-fluid">
					<div class="span4 offset2" style="height:60px; line-height:60px; font-size:14px; color:#f05666">
					未认证
					</div>
					<div class="span4">
						<a href="#" style="height:60px; line-height:60px; font-size:14px; color:#45b0e5">认证</a>
					</div>
				</div>
			</div>

		</div>

		<!--微信认证-->
		<div class="row-fluid" style=" padding:30px 0">
			<!--图标加名称-->
			<div class="span3">
				<div class="row-fluid">
					<div class="span6 text-right">
						<img src="__HOME__/images/user/user_auther62.gif" alt="微信认证">
					</div>
					<div class="span5 offset1 text_666" style="height:60px; line-height:60px; font-size:16px">
					微信认证
					</div>
				</div>
			</div>

			<!--内容-->
			<div class="span5">
				<div class="row-fluid">
					<div class="span5 offset1 text_666" style="height:60px; line-height:60px; font-size:14px">
					
					</div>
				</div>
			</div>

			<!--图标加名称-->
			<div class="span4">
				<div class="row-fluid">
					<div class="span4 offset2" style="height:60px; line-height:60px; font-size:14px; color:#f05666">
					未认证
					</div>
					<div class="span4">
						<a href="#" style="height:60px; line-height:60px; font-size:14px; color:#45b0e5">认证</a>
					</div>
				</div>
			</div>

		</div>


	</div>

</block>