<extend name="Base:userCenterLayout" />

<block name="head">
</block>

<block name="body">
	<!--推送通知 可关闭模块-->
	<div class="row-fluid bg-fafafa user_tz" style="border-bottom:#f0f0f0 solid 1px">
		<div class="span1 text-right">
			<img src="__HOME__/images/user/use_tz.png">
		</div>
		<div class="span10" style="color:#666">
			推送通知
		</div>

		<!--关闭按钮-->
		<div class="span1 text-left">
			<button class="close" style="float:none">&times;</button>
		</div>
	</div>

	<!--主体-->
	<div class="user_main">

		<!--我的评论 标题-->
		<div class="row-fluid">
			<div class="span4">
				<div class="row-fluid">
					<div class="span11 offset1">
						<p style="font-size:18px; margin-bottom:20px">我的评论</p>
					</div>
				</div>
			</div>
		</div>

		<!--项目分类导航-->
		<div class="row-fluid myproject_nav">
			<ul>
				<li class="span2 text-center"><a href="#">我的评论</a></li>
				<li class="span2 text-center"><a href="#">收到的评论</a></li>
			</ul>
		</div>

		<!--分隔线-->
		<!-- <div class="row-fluid">
			<div class="span12" style="border-bottom:#e1e4e9 solid 1px; margin-bottom:35px"></div>
		</div> -->


	</div>

</block>