<extend name="Base:userCenterLayout" />

<block name="head">
</block>

<block name="body">
	<!--推送通知 可关闭模块-->
	<div class="row-fluid bg-fafafa user_tz" style="border-bottom:#f0f0f0 solid 1px">
		<div class="span1 text-right">
			<img src="__HOME__/images/user/use_tz.png">
		</div>
		<div class="span10" style="color:#666">
			推送通知
		</div>

		<!--关闭按钮-->
		<div class="span1 text-left">
			<button class="close" style="float:none">&times;</button>
		</div>
	</div>

	<!--主体-->
	<div class="user_main">

		<!--我的消息 标题-->
		<div class="row-fluid">
			<div class="span4">
				<div class="row-fluid">
					<div class="span11 offset1">
						<p style="font-size:18px; margin-bottom:20px">我的消息</p>
					</div>
				</div>
			</div>
		</div>

		<!--项目分类导航-->
		<div class="row-fluid myproject_nav">
			<ul>
				<li class="span2 text-center"><a href="#">系统通知</a></li>
				<li class="span2 text-center"><a href="#">私信消息</a></li>
			</ul>
		</div>

		<!--分隔线-->
		<!-- <div class="row-fluid">
			<div class="span12" style="border-bottom:#e1e4e9 solid 1px; margin-bottom:35px"></div>
		</div> -->
		
		<!--私信消息-->
		<div>
			<div class="row-fluid">

				<!--头像-->
				<div class="span1">	
					<img style="width:50px; height:50px; border-radius:100%; border:#e1e4e9 solid 5px; " src="__HOME__/images/user/tx1.jpg">
				</div>

				<div class="span7">
					<div>
						<p style=" color:#666; line-height:2.0"><span style=" color:#333">用户</span><br />
						股市这么热，万二手续费，参加二季度投资会即可专享股市这么热，万二手续费，参加二季度投资会即可专享股市这么热，万二手续费，参加二季度投资会即可专享股市这么热，万二手续费，参加二季度投资会即可专享股市这么热，万二手续费，参加二季度投资会即可专享&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="#"><i class="icon-comment"></i></a>
						</p>
					</div>
					
					<!--触发回复后-->
					<textarea class="textatra_resize_none" style="width:100%;margin-top:20px" rows="2"></textarea>

					<div class="row-fluid">
						<div class="span1 offset10">
							<a href="#" style="display:block; background:#f05666; color:#fff; width:60px; height:30px; line-height:30px; text-align:center; margin-right:15px">回复</a>
						</div>
					</div>
				</div>
				
				<!--时间-->
				<div class="span4">	
					<p class="text-right" style="color:#999; font-size:12px; margin-top:30px">2015-05-04 18:05:11 </p>
				</div>
			</div>
		</div>



		<!--私信消息2-->
		<div>
			<div class="row-fluid">

				<!--头像-->
				<div class="span1">	
					<img style="width:50px; height:50px; border-radius:100%; border:#e1e4e9 solid 5px; " src="__HOME__/images/user/tx1.jpg">
				</div>

				<div class="span7">
					<div>
						<p style=" color:#666; line-height:2.0"><span style=" color:#333">用户</span><br />
						股市这么热，万二手续费，参加二季度投资会即可专享股市这么热，万二手续费，参加二季度投资会即可专享股市这么热，万二手续费，参加二季度投资会即可专享股市这么热，万二手续费，参加二季度投资会即可专享股市这么热，万二手续费，参加二季度投资会即可专享&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="#"><i class="icon-comment"></i></a>
						</p>
					</div>
					
					<!--回复提交后-->
					
					<div class="row-fluid" style="background:#fafafa; padding:20px">
						<div class="span12">

							<!--我方回复-->	
							<div class="row-fluid" style="margin-bottom:15px">
								<div class="span8 offset4">	
									<div class="row-fluid">
										<div class="span10 text-right" style=" color:#666">
										万二手续费，参加二季度投资会即可专享股市这么热
										</div>
										<div class="span2 text-right" style="margin-left:0; color:#000">
										:我
										</div>
									</div>
								</div>
							</div>


							<!--对方回复-->
							<div class="row-fluid" style="margin-bottom:15px">
								<div class="span8">	
									<div class="row-fluid">
										<div class="span2" style="margin-left:0; color:#000">
										用户:
										</div>

										<div class="span9" style="margin-left:0; color:#666">
										万二手续费，参加二季度投资会即可专享股市这么热
										</div>
									</div>
								</div>
							</div>


							<!--我方回复-->	
							<div class="row-fluid" style="margin-bottom:15px">
								<div class="span8 offset4">	
									<div class="row-fluid">
										<div class="span10 text-right" style=" color:#666">
										万二手续费，
										</div>
										<div class="span2 text-right" style="margin-left:0; color:#000">
										:我
										</div>
									</div>
								</div>
							</div>



						</div>
					</div>
				</div>
				
				<!--时间-->
				<div class="span4">	
					<p class="text-right" style="color:#999; font-size:12px; margin-top:30px">2015-05-04 18:05:11 </p>
				</div>
			</div>
		</div>


	</div>

</block>