<extend name="Base:userCenterLayout" />

<block name="head">
</block>

<block name="body">
	<!--推送通知 可关闭模块-->
	<div class="row-fluid bg-fafafa user_tz" style="border-bottom:#f0f0f0 solid 1px">
		<div class="span1 text-right">
			<img src="__HOME__/images/user/use_tz.png">
		</div>
		<div class="span10" style="color:#666">
			推送通知
		</div>

		<!--关闭按钮-->
		<div class="span1 text-left">
			<button class="close" style="float:none">&times;</button>
		</div>
	</div>

	<!--主体-->
	<div class="user_main">

		<!--报名管理 标题-->
		<div class="row-fluid">
			<div class="span4">
				<div class="row-fluid">
					<div class="span11 offset1">
						<p style="font-size:18px; margin-bottom:20px">报名管理</p>
					</div>
				</div>
			</div>
		</div>

		<!--项目分类导航-->
		<div class="row-fluid myproject_nav">
			<ul>
				<li class="span2 text-center"><a href="#">路演报名</a></li>
				<li class="span2 text-center"><a href="#">预约投资</a></li>
			</ul>
		</div>


		<div class="row-fluid" style="margin-top:30px">
			<table class="table table-bordered text-center" style="border-color:#e1e4e9">
				<tr style="background:#e1e4e9">
					<th class="text-center">期次</th>
					<th class="text-center">主题</th>
					<th class="text-center">时间</th>
					<th class="text-center">状态</th>
					<th class="text-center">操作</th>
				</tr>
				<tr style="height:50px;">
					<th class="text-center" style="height:50px;line-height:50px; font-weight:normal">第二期</th>
					<th class="text-center" style="height:50px;line-height:50px; font-weight:normal">引领理性投资，助推激情创业</th>
					<th class="text-center" style="height:50px;line-height:50px; font-weight:normal">2015-08-01</th>
					<th class="text-center" style="height:50px;line-height:50px; font-weight:normal">已结束</th>
					<th class="text-center" style="height:50px;line-height:50px; font-weight:normal"></th>
				</tr>
				<tr>
					<th class="text-center" style="height:50px;line-height:50px; font-weight:normal">第一期</th>
					<th class="text-center" style="height:50px;line-height:50px; font-weight:normal">寻找梧桐树，引来金凤凰</th>
					<th class="text-center" style="height:50px;line-height:50px; font-weight:normal">2014-09-27</th>
					<th class="text-center" style="height:50px;line-height:50px; font-weight:normal">已结束</th>
					<th class="text-center" style="height:50px;line-height:50px; font-weight:normal"></th>
				</tr>
			</table>
		</div>

		<!--分隔线-->
		<!-- <div class="row-fluid">
			<div class="span12" style="border-bottom:#e1e4e9 solid 1px; margin-bottom:35px"></div>
		</div> -->


	</div>

</block>