<!-- jquery -->
<script src="__STATIC__/jquery-1.10.2.min.js"></script>

<!-- 除IE外都可识别 -->
<!--[if !IE]><!-->
	
<!--<![endif]-->

<!-- IE9以及IE9以上版本可识别 -->
<!--[if gte IE 9]>

<![endif]-->

<!-- IE9以及IE9以下版本可识别 -->
<!--[if lt IE 9]>
	<script src="__STATIC__/html5shiv.min.js"></script>
<![endif]-->

<!-- bootstrap -->
<link rel="stylesheet" href="__STATIC__/bootstrap2/css/bootstrap.min.css">
<link rel="stylesheet" href="__STATIC__/bootstrap2/css/bootstrap-responsive.min.css">
<script src="__STATIC__/bootstrap2/js/bootstrap.min.js"></script>

<!-- kindeditor -->
<link rel="stylesheet" href="__STATIC__/kindeditor-4.1.10/themes/default/default.css"/>
<!-- <link rel="stylesheet" href="__STATIC__/kindeditor-4.1.10/pulgins/code/prettify.css"/> -->
<script src="__STATIC__/kindeditor-4.1.10/kindeditor-min.js"></script>
<script src="__STATIC__/kindeditor-4.1.10/lang/zh_CN.js"></script>

<!-- 引入json解析文件 -->
<script src="__STATIC__/json2.js"></script>



<!-- common -->
<link rel="stylesheet" href="__COMMON__/common.css">
<script src="__COMMON__/common.js"></script>

<!-- self -->
<link rel="stylesheet" href="__HOME__/css/header.css">
<block name="head"></block>